:root {
  --color-darkpurple: #723ec3ef;
  --color-lightblue: #b5baff;
  --color-pink: #ff62bb;
  --color-lightpink: #f9b2d7;
  --color-lightyellow: #f3ded2;
  --color-black: #110003;
  --color-lightgray: #d9d9d9;

  --font-family: Helvetica, Arial, sans-serif;

  --font-size-h1: 24px;
  --font-size-h2: 18px;
  --font-size-h3: 16px;
  --font-size-body: 12px;
  --font-size-small: 10px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  background-color: var(--color-black);
  color: white;
  font-family: var(--font-family);
}
